.slider-container {
  width: 100%;
  position: relative;
}
.mySwiper {
  width: 100%;
  height: 550px;
}
.sliderbox {
  width: 100%;
  height: 100%;
}
.sliderbox img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgba(198, 207, 193, 0.664);
  background-color: rgba(0, 255, 255, 0.418);
  border-radius: 50%;
  font-size: 28px;
  padding: 8px;
}

.text_slider {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
}
.text_slider_in {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 2;
  position: absolute;
  top: -28px;
}

.left-div {
  width: 10%;
  background-color: #022d62;
  border-top-left-radius: 100%;
}
.right-div {
  width: 10%;
  background-color: #022d62;
  border-bottom-right-radius: 100%;
}
.textmySwiper {
  background-color: #022d62;
  height: 90px;
}
.swiper-pagination-bullet {
  display: none;
}
.textswiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  background-color: #022d62;
}

#slider-icon {
  background-color: #620212;
  padding: 5px;
  font-size: 28px;
  border-radius: 50%;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .mySwiper {
    height: 280px;
  }
  .textswiper-slide {
    font-size: 16px;
  }

  .left-div {
    width: 30%;
  }
  .right-div {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .mySwiper {
    height: 250px;
  }
  .left-div {
    width: 100%;
  }
  .right-div {
    width: 100%;
  }
}

/* 
.typewriter-container{
position: absolute;
width: 50%;
top: 240px;
left: 50px;
z-index: 2;
background-color: rgba(245, 245, 220, 0.247);
border-radius: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #0b2c6b;
  text-align: center;
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
} */
