.slider-container {
  width: 100%;
  position: relative;
}
.mySwiper {
  width: 100%;
  height: 550px;
}
.sliderbox {
  width: 100%;
  height: 100%;
}
.sliderbox img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgba(198, 207, 193, 0.664);
  background-color: rgba(0, 255, 255, 0.418);
  border-radius: 50%;
  font-size: 28px;
  padding: 8px;
}

.text_slider {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
}
.text_slider_in {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 2;
  position: absolute;
  top: -28px;
}

.left-div {
  width: 10%;
  background-color: #022d62;
  border-top-left-radius: 100%;
}
.right-div {
  width: 10%;
  background-color: #022d62;
  border-bottom-right-radius: 100%;
}
.textmySwiper {
  background-color: #022d62;
  height: 90px;
}
.swiper-pagination-bullet {
  display: none;
}
.textswiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  background-color: #022d62;
}

#slider-icon {
  background-color: #620212;
  height: 44px;
  width: 44px;
  padding: 8px;
  font-size: 28px;
  border-radius: 50%;
  border: 1px solid white;
}
.activities-no {
  margin-top: 50px;
  background-image: url("/image/student.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px;

  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.activities-no::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #15f5726c;
  opacity: 1;
}
.activities-on-in {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 50px;
}
.activities-icon {
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 30px;
  background-color: #022d62;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 60px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 50px;
  color: #ffffff;
  transition: 0.5s ease;
}
.activities-icon:hover {
  transform: rotateY(180deg);
}
.activities-text {
  color: #ffffff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.activities-text h1 {
  font-size: 40px;
  font-weight: 700;
}
.activities-text p {
  font-size: 22px;
  font-weight: 700;
}
.Facilities-mySwiper {
  width: 100%;
  padding: 4px;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}
.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.Facilities-slider {
  position: relative;
  width: 100%;
}

.facilities-prev,
.facilities-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #022d62;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
}

.facilities-prev {
  left: -30px;
}

.facilities-next {
  right: -30px;
}

.facilities-prev:hover,
.facilities-next:hover {
  background: #007aff;
}
.FacilitiesSwiperSlider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid rgba(162, 162, 163, 0.274);
  border-radius: 10px;
  padding: 10px;
}
.FacilitiesSwiperSlider img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: block;
  margin-top: 10px;
}
.FacilitiesSwiperSlider h2 {
  font-size: 22px;
  color: #022d62;
  margin-top: 15px;
  min-height: 30px;
}
.FacilitiesSwiperSlider p {
  color: #364056;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 1.5;
  text-align: start;
  min-height: 150px;
}
.Facilities-btn {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131266;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
}
.Facilities-btn:hover {
  background-color: #007aff;
}

.Facilities-btn a {
  color: #fff;
  text-decoration: none;
}
.principal {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}
.principal-in {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  padding: 20px;
}

.principalImg {
  width: 40%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.principalImg img {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.principaltext {
  width: 60%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}
.principaltext h2 {
  font-size: 28px;
  font-weight: 700;
  color: #022d62;
}
.principaltext p {
  font-size: 16px;
  font-weight: 500;
  color: #364056;
  line-height: 2;
  margin-top: 15px;
}
.principaltext h3 {
  font-size: 20px;
  font-weight: 700;
  color: #022d62;
  margin-top: 15px;
}
.principaltext h4 {
  font-size: 20px;
  font-weight: 600;
  color: #022d62;
  margin-top: 8px;
}
.principaltext a {
  display: flex;
  width: 170px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 50px;
  background-color: #022d62;
  color: #ffffff;
  padding: 8px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 18px;
}
.principaltext a:hover {
  background-color: #007aff;
}

@media (max-width: 768px) {
  .mySwiper {
    height: 280px;
  }
  .textswiper-slide {
    font-size: 16px;
  }

  .left-div {
    width: 30%;
  }
  .right-div {
    width: 30%;
  }
  .activities-on-in {
    flex-direction: column;
    gap: 30px;
  }
  .activities-icon {
    width: 80px;
    height: 80px;
    font-size: 45px;
  }
  .activities-text h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 18px;
  }
  .activities-text p {
    font-size: 20px;
    font-weight: 600;
  }
  .FacilitiesSwiperSlider img {
    width: 100%;
    height: 210px;
  }
  .FacilitiesSwiperSlider h2 {
    font-size: 20px;
  }
  .FacilitiesSwiperSlider p {
    font-size: 15px;
  }
  .facilities-prev,
  .facilities-next {
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .facilities-prev {
    left: -20px;
  }
  .facilities-next {
    right: -20px;
  }
  .principal-in {
    flex-direction: column;
  }

  .principalImg {
    width: 100%;
  }
  .principalImg img {
    width: 300px;
    height: 400px;
  }
  .principaltext {
    width: 100%;
  }
  .principaltext h2 {
    font-size: 20px;
  }
  .principaltext p {
    font-size: 15px;
  }
  .principaltext h3 {
    font-size: 18px;
  }
  .principaltext h4 {
    font-size: 18px;
  }
  .principaltext a {
    width: 160px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .mySwiper {
    height: 250px;
  }
  .left-div {
    width: 100%;
  }
  .right-div {
    width: 100%;
  }
  .facilities-prev {
    left: -15px;
  }
  .facilities-next {
    right: -15px;
  }
}

/* 
.typewriter-container{
position: absolute;
width: 50%;
top: 240px;
left: 50px;
z-index: 2;
background-color: rgba(245, 245, 220, 0.247);
border-radius: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #0b2c6b;
  text-align: center;
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
} */
