.footer {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/image/school-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

/* Overlay Color */
.footbg {
  position: absolute;
  inset: 0;
  background: rgba(9, 45, 88, 0.945);
}
.footer-in {
  width: 80%;
  display: flex;
justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  z-index: 2;
flex-wrap: wrap;
}
.footer-item {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 4px;
}
.footer-item h1 {
  position: relative;
  z-index: 2;
  color: #378af0;
  font-size: 18px;
}
.footer-subitem {
  list-style: none;
}
.footer-subitem li a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.2;
  color: #ffffff;
  position: relative;
  z-index: 2;
  color: white;
}

.footer-subitem li a:hover {
  color: #50d8c1;
}
.footer-subitem li {
  transition: 0.3s ease;
}

.footer-subitem li:hover {
  background-color: rgba(222, 233, 235, 0.089);
  padding-left: 10px;
  position: relative;
  z-index: 2;
  border-radius: 5px;
}
.contant-item {
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.contant-item h1 {
  position: relative;
  z-index: 2;
  color: #378af0;
  font-size: 18px;
}
.contant-item-in {
  display: flex;
  gap: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  align-items: center;
}
#icon-con1 {
  color: #e9cc4b;
  font-size: 24px;
}
#icon-con2 {
  color: #17acc0;
  font-size: 24px;
}
#icon-con3 {
  color: #e04d33;
  font-size: 24px;
}

.con-map{

}
.con-map h1{
  color: #378af0;
  font-size: 18px;
}

.map-box {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 10px;
}

.map-box iframe {
  width: 100%;
  border-radius: 12px;
border: 1px solid rgb(12, 8, 46);

}

@media (max-width: 768px) {
.footer-item h1 {
  font-size: 16px;
}
.footer-subitem li a {
  font-size: 15px;

}
.con-map h1{
  font-size: 16px;
}
.contant-item-in {
  font-size: 15px;

}
#icon-con1 {
  font-size: 20px;
}
#icon-con2 {
  font-size: 20px;
}
#icon-con3 {
  font-size: 20px;
}
}


@media (max-width: 480px) {
.footer-item h1 {
  font-size: 15px;
}
.footer-subitem li a {
  font-size: 14px;

}
.con-map h1{
  font-size: 15px;
}
.contant-item-in {
  font-size: 14px;

}
#icon-con1 {
  font-size: 19px;
}
#icon-con2 {
  font-size: 19px;
}
#icon-con3 {
  font-size: 19px;
}
}
