.header-contact {
  display: flex;
  width: 100%;
  background-color: rgba(202, 199, 199, 0.747);
  justify-content: center;
  justify-items: center;
}
.header-contact-in {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 4px;
}
.contant-in {
  display: flex;
  gap: 8px;
  padding: 4px;
}
.cantante-text {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #022d62;
}
.cantante-text p {
  font-size: 15px;
  font-weight: 500;
}
.cantante-text p:hover {
  color: #4c8b81;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: whitesmoke;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.nav-bar-in {
  display: flex;
  width: 90%;
  padding: 2px;
  justify-content: space-between;
}
.togal-btn {
  border: 1px solid rgba(177, 174, 174, 0.548);
  font-size: 36px;
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  display: none;
}

.logo {
  display: flex;
  gap: 2px;
  padding: 4px;
}
.logo img {
  width: 70px;
  height: 50px;
  border-radius: 50px;
}
.logo p {
  color: #022d62;
  font-size: 19px;
  font-weight: 600;
  position: relative;
  text-align: center;
  line-height: 1;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  border-left: 1px solid rgba(18, 15, 51, 0.336);
  border-right: 1px solid rgba(18, 15, 51, 0.336);
}
.logo p::before {
  content: "──── The ────";
  display: block;
  color: rgba(8, 9, 117, 0.712);
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 2px;
}
.logo p::after {
  content: "─ Public School ─";
  display: block;
  color: rgba(8, 9, 117, 0.712);
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-subitem {
  display: flex;
  gap: 18px;
  text-align: center;
  list-style: none;
}
.nav-subitem li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #022d62;
  position: relative;
}
.nav-subitem li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #493e0eb7;
  transition: width 0.3s ease;
}
.nav-subitem li a:hover::after {
  width: 100%;
}
.nav-subitem li a:hover {
  color: #4c8b81;
}
.nav-subitem li a.active {
  color: #4c8b81;
}
.nav-subitem li a.active::after {
  width: 0;
}
.enquire {
  width: 100px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.enquire button {
  height: 40px;
  width: 100%;
  background-color: #022d62;
  color: #ffffff;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.enquire button:hover {
  background-color: #4c8b81;
}

.out-school {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.out-school-in {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 4px;
  gap: 30px;
}
.out-schoo-eft {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}
.out-school-right {
  width: 50%;
  gap: 10px;
  padding-left: 20px;
}
.top-img {
  display: flex;
  gap: 10px;
}
.top-img img {
  width: 60%;
  height: 250px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.bottom-img {
  display: flex;
  gap: 20px;
}
.est {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 34%;
  margin-top: 50px;
  background: linear-gradient(#0ee419, #0a5cb5, #022d62);
  border-top-right-radius: 80px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.est h2 {
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.est img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#founder-m {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px dashed #022d62;
  padding: 2px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#dmimg {
  width: 60%;
  height: 400px;
  border-radius: 20px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.about-short h2 {
  width: 50%;
  color: #022d62;
  font-size: 26px;
  font-weight: 700;
  border-bottom: 1px solid #022d62;
  padding: 2px;
}
.about-short p {
  color: #374157;
  font-size: 16px;
  font-weight: 500;
  padding: 2px;
  line-height: 1.7;
  margin-top: 14px;
}
.Affiliation-main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.Affiliation {
  width: 100%;
  display: flex;
}
.AffiliationImg {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-top: 10px;
  background-color: #022d62;
  border-radius: 50%;
}
.Affiliation img {
  width: 50px;
  height: 50px;
  color: wheat;
  padding: 4px;
}
.Affiliation h2 {
  color: #022d62;
  font-size: 20px;
  font-weight: 700;
  padding: 2px;
  margin-left: 10px;
}
.Affiliation p {
  color: #374157;
  font-size: 16px;
  font-weight: 500;
  padding: 2px;
  line-height: 1.8;
  margin-left: 10px;
}
.the-exe-pub {
  width: 70%;
  display: flex;
  margin-top: 50px;
  background-color: #b9d7f7ee;
  padding: 10px;
  margin-left: 90px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.home-about-btn {
  margin-top: 50px;
  display: flex;
  width: 210px;
  height: 40px;
  background-color: #022d62;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 24px;
  border-radius: 60px;
}
.home-about-btn:hover {
  background-color: #0a5cb5;
}
.home-about-btn a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.home-Facilities {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  margin-top: 30px;
}
.home-Facilities-in {
  flex-direction: column;
  width: 90%;
  justify-content: center;
  justify-items: center;
}
.home-Facilities-heading {
  flex-direction: column;
  display: flex;
  width: 70%;
  line-height: 1.7;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
.home-Facilities-heading h3 {
  color: #f0a607;
  border-bottom: 1px solid #f0a607;
  width: 28%;
  letter-spacing: 4px;
  font-size: 20px;
}
.home-Facilities-heading h2 {
  color: #022d62;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 700;
}
.home-Facilities-heading p {
  color: #364056;
  font-size: 19px;
  font-weight: 500;
}
.facilities-slider {
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 900px) {
  .nav-subitem {
    gap: 16px;
  }
  .est h2 {
    font-size: 18px;
  }
  .about-short h2 {
    width: 90%;
  }
  .out-school-in {
    gap: 60px;
  }
  .the-exe-pub {
    width: 100%;
    margin-left: 0px;
  }
  .home-Facilities-heading {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contant-in {
    flex-direction: column;
  }
  .logo img {
    width: 60px;
    height: 46px;
  }
  .logo p {
    font-size: 18px;
    font-weight: 500;
  }
  .logo p::before {
    font-size: 10px;
  }
  .enquire button {
    font-size: 12px;
  }

  .logo p::after {
    font-size: 10px;
  }
  .togal-btn {
    display: block;
  }
  .nav-item {
    position: absolute;
    top: 122px;
    left: 0;
    z-index: 999;
    background-color: whitesmoke;
    width: 100%;

    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: 0.4s ease;
  }
  .nav-item.show-menu {
    transform: scaleY(1);
    opacity: 1;
  }
  .nav-item.show-menu {
    display: block;
  }
  .nav-subitem {
    flex-direction: column;
    text-align: start;
    padding: 10px 20px;
    width: 100%;
  }
  .nav-subitem li {
    padding: 4px 4px;
  }
  .nav-subitem li:hover {
    background-color: #80d4c62d;
    cursor: pointer;
    border-radius: 5px;
  }
  .nav-subitem li a::after {
    display: none;
  }
  .out-school-in {
    flex-direction: column;
  }
  .out-schoo-eft {
    width: 100%;
    gap: 8px;
  }
  .est h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .out-school-right {
    width: 100%;
  }
  .about-short h2 {
    width: 100%;
    border: none;
    font-size: 24px;
  }
  .about-short p {
    font-size: 15px;
  }
  .Affiliation h2 {
    font-size: 18px;
  }
  .Affiliation p {
    font-size: 15px;
  }
  .the-exe-pub {
    width: 70%;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 15px;
  }
  .home-about-btn {
    display: flex;
    width: 200px;
    height: 38px;
    justify-self: center;
  }
  .home-about-btn a {
    font-size: 15px;
    font-weight: 500;
  }
  .home-Facilities-heading h3 {
    width: 50%;
    font-size: 18px;
  }
  .home-Facilities-heading h2 {
    font-size: 34px;
    font-weight: 600;
  }
  .home-Facilities-heading p {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .contant-in {
    flex-direction: column;
  }
  .logo img {
    width: 58px;
    height: 44px;
  }
  .logo p {
    font-size: 15px;
    font-weight: 500;
  }
  .logo p::before {
    font-size: 8px;
  }
  .logo p::after {
    font-size: 8px;
  }
  .enquire button {
    font-size: 12px;
  }
  .header-contact-in {
    flex-direction: column;
  }
  .nav-item {
    position: absolute;
    top: 176px;
  }
  .est h2 {
    font-size: 15px;
    font-weight: 600;
  }
  .top-img img {
    width: 100%;
    height: 300px;
  }
  .top-img {
    flex-direction: column;
  }

  #founder-m {
    width: 180px;
    height: 240px;
  }
  .est {
    position: absolute;
    top: 275px;
    left: 193px;
    height: 220px;
    width: 30%;
  }
  #dmimg {
    width: 100%;
    height: 450px;
  }
  .Affiliation img {
    width: 65px;
    height: 50px;
  }
  .the-exe-pub {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    font-size: 15px;
  }
  .home-about-btn {
    display: flex;
    width: 190px;
    height: 38px;
    justify-self: center;
  }
  .home-about-btn a {
    font-size: 14px;
    font-weight: 500;
  }
  .home-Facilities-heading h3 {
    width: 100%;
    font-size: 17px;
  }
  .home-Facilities-heading h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .home-Facilities-heading p {
    font-size: 16px;
  }
}
